modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python app.py"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["python", "backend/app.py"]
build = ["sh", "-c", "pip install -r backend/requirements.txt"]

[userenv]

[userenv.shared]
POSTGRES_URL_NO_SSL = "postgresql://neondb_owner:npg_Vyu5G8KvpMam@ep-red-art-ag3j44ej-pooler.c-2.eu-central-1.aws.neon.tech/neondb"
PG_HOST_UNPOOLED = "ep-red-art-ag3j44ej.c-2.eu-central-1.aws.neon.tech"
POSTGRES_PRISMA_URL = "postgresql://neondb_owner:npg_Vyu5G8KvpMam@ep-red-art-ag3j44ej-pooler.c-2.eu-central-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require"
POSTGRES_USER = "neondb_owner"
POSTGRES_DATABASE = "neondb"
ADMIN_PASSWORD = "pedrosa"
POSTGRES_URL_NO_POOLING = "postgresql://neondb_owner:npg_Vyu5G8KvpMam@ep-red-art-ag3j44ej.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require"
POSTGRES_HOST = "ep-red-art-ag3j44ej-pooler.c-2.eu-central-1.aws.neon.tech"
POSTGRES_URL = "postgresql://neondb_owner:npg_Vyu5G8KvpMam@ep-red-art-ag3j44ej-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require"
NEON_PROJECT_ID = "gentle-credit-46402387"
DATABASE_URL_UNPOOLED = "postgresql://neondb_owner:npg_Vyu5G8KvpMam@ep-red-art-ag3j44ej.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require"
POSTGRES_PASSWORD = "npg_Vyu5G8KvpMam"
